<details class="govuk-details govuk-!-margin-bottom-6 govuk-!-margin-top-2" data-module="govuk-details">
  <summary class="govuk-details__summary" aria-label="Open dropdown for further information on the flood ratings.">
    <span class="govuk-details__summary-text">
      What the flood risk ratings mean
    </span>
  </summary>
  <div class="govuk-details__text">
    <p class="govuk-body govuk-!-margin-top-4 govuk-!-margin-bottom-0 govuk-!-padding-bottom-4">
      <strong class="govuk-tag govuk-tag--High">High</strong>
    </p>
    <p class="govuk-body">More than 3.3% chance of a flood each year</p>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <p class="govuk-body govuk-!-margin-top-4 govuk-!-margin-bottom-0 govuk-!-padding-bottom-4">
      <strong class="govuk-tag govuk-tag--Medium">Medium</strong>
    </p>
    <p class="govuk-body">Between 1% and 3.3% chance of a flood each year</p>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <p class="govuk-body govuk-!-margin-top-4 govuk-!-margin-bottom-0 govuk-!-padding-bottom-4">
      <strong class="govuk-tag govuk-tag--Low">Low</strong>
    </p>
    <p class="govuk-body">Between 0.1% and 1% chance of a flood each year</p>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <p class="govuk-body govuk-!-margin-top-4 govuk-!-margin-bottom-0 govuk-!-padding-bottom-4">
      <strong class="govuk-tag govuk-tag--Very-low">Very low</strong>
    </p>
    <p class="govuk-body">Less than 0.1% chance of a flood each year</p>
  </div>
</details>