{% if currentpage === 'reservoirs' %}
<li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__list-item--active" aria-current="true">
  <strong>Reservoirs</strong>
 </li>
{% else %}
<li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
  <a class="gem-c-contents-list__link govuk-link" href="/reservoirs" 
  aria-label="Reservoirs understand your flood risk page." previewlistener="true">Reservoirs</a>
</li>
{% endif %}