<div class="govuk-summary-card govuk-!-margin-top-3" id="groundwater">
  <div class="govuk-summary-card__title-wrapper vlow card-padding-left">
    <h2 class="govuk-summary-card__title card-title__font-size">Reservoirs</h2>
    <ul class="govuk-summary-card__actions">
      <li class="govuk-summary-card__action">
        <a class="govuk-link" href="/reservoirs">
          More about your reservoir flood risk
        </a>
      </li>
    </ul>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        {% if reservoirRisk %}
        <strong class="govuk-tag govuk-tag--grey label-mod label-border label-additional govuk-body govuk-!-margin-top-4" aria-hidden="true">
          There is a risk of flooding from reservoirs in this area.
        </strong>
        {% else %}
        <strong class="govuk-tag govuk-tag--grey label-mod label-border label-additional govuk-body govuk-!-margin-top-4" aria-hidden="true">
          Flooding from reservoirs is unlikely in this area.
        </strong>
        {% endif %}

          <h3 class="govuk-heading-s govuk-!-margin-top-4 govuk-!-margin-bottom-2">What a reservoir is</h3>
          <p class="govuk-body">A reservoir is a large natural or artificial lake that is designed to collect and store water.</p>
          <p class="govuk-body">They are usually formed by building a dam across a river, or by building a large tank or surrounding embankment. 
            If one of these dams or embankments fails, then water could escape from the reservoir. 
            This would result in land or properties being flooded.</p>
      </div>
    </dl>
  </div>
</div>