<div class="govuk-summary-card govuk-!-margin-top-3 govuk-!-margin-bottom-9" id="additional-information">
  <div class="govuk-summary-card__title-wrapper vlow card-padding-left">
    <h2 class="govuk-summary-card__title card-title__font-size">Other flood risks</h2>

    <ul class="govuk-summary-card__actions">
      <li class="govuk-summary-card__action">
        <a class="govuk-link" href="/ground-water">
          More about groundwater and reservoirs
        </a>
      </li>
    </ul>

  </div>
  <div class="govuk-summary-card__content">

    <h3 class="govuk-heading-m govuk-!-margin-top-4 govuk-!-margin-bottom-2">Groundwater</h3>


    <dl class="govuk-summary-list">



      <div class="govuk-summary-list__row">
        <p class="govuk-body govuk-!-padding-top-2 govuk-!-padding-bottom-4">
          {% if isGroundwaterArea %}
          Flooding is possible when groundwater levels are high.
          {% else %}
          Flooding from groundwater is unlikely in this area.
          {% endif %}
        </p>


        <h3 class="govuk-heading-m govuk-!-margin-top-4 govuk-!-margin-bottom-2">Reservoirs</h3>

        <p class="govuk-body govuk-!-padding-top-2 govuk-!-padding-bottom-4">
          {% if reservoirRisk %}
          There is a risk of flooding from reservoirs in this area.
          {% else %}
          Flooding from reservoirs is unlikely in this area.
          {% endif %}
        </p>

      </div>
    </dl>

  </div>
