<div class="govuk-summary-card" id="rivers-sea">
  <div class="govuk-summary-card__title-wrapper vlow card-padding-left">
    <h2 class="govuk-summary-card__title card-title__font-size">Rivers and the sea</h2>
    <ul class="govuk-summary-card__actions">
      <li class="govuk-summary-card__action">
        <a class="govuk-link card-link__font-size" href="/rivers-and-sea">
          More about your rivers and sea flood risk
        </a>
      </li>
    </ul>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <h3 class="govuk-heading-s">Yearly chance of flooding</h3>
        <div class="risk-label-group-2 govuk-!-margin-top-4 govuk-!-margin-bottom-3">
          {% if riverAndSeaRisk === "very low" %}
          <strong class="govuk-tag govuk-tag--Very-low label-mod label-border">
            Very low<span class="govuk-visually-hidden"> within a scale of very low, low, medium and high.</span>
          </strong>
          {% else %}
          <strong class="govuk-tag govuk-tag--grey label-mod" aria-hidden="true">
            Very low
          </strong>
          {% endif %}

          {% if riverAndSeaRisk === "low" %}
          <strong class="govuk-tag govuk-tag--Low label-mod label-border">
            Low<span class="govuk-visually-hidden"> within a scale of very low, low, medium and high.</span>
          </strong>
          {% else %}
          <strong class="govuk-tag govuk-tag--grey label-mod" aria-hidden="true">
            Low
          </strong>
          {% endif %}

          {% if riverAndSeaRisk === "medium" %}
          <strong class="govuk-tag govuk-tag--Medium label-mod label-border">
            Medium<span class="govuk-visually-hidden"> within a scale of very low, low, medium and high.</span>
          </strong>
          {% else %}
          <strong class="govuk-tag govuk-tag--grey label-mod" aria-hidden="true">
            Medium
          </strong>
          {% endif %}

          {% if riverAndSeaRisk === "high" %}
          <strong class="govuk-tag govuk-tag--High label-mod label-border">
            High<span class="govuk-visually-hidden"> within a scale of very low, low, medium and high.</span>
          </strong>
          {% else %}
          <strong class="govuk-tag govuk-tag--grey label-mod" aria-hidden="true">
            High
          </strong>
          {% endif %}
        </div>
        <h3 class="govuk-heading-s govuk-!-padding-top-6 govuk-!-margin-bottom-0">Yearly chance of flooding between 2036 and 2069</h3>
        <div class="risk-label-group-2 govuk-!-margin-top-4 govuk-!-margin-bottom-3">
          {% if riverAndSeaRiskCC === "unavailable" %}
          <strong class="govuk-tag govuk-tag--No-Data label-mod label-border">
            No data available<span class="govuk-visually-hidden"> within a scale of very low, low, medium and high.</span>
          </strong>
          <p class="govuk-body govuk-!-margin-top-2 govuk-!-margin-bottom-2">This data is currently unavailable. We'll publish the data 
            when it becomes available.  
          </p>
          {% else %}
            {% if riverAndSeaRiskCC === "very low" %}
            <strong class="govuk-tag govuk-tag--Very-low label-mod label-border">
              Very low<span class="govuk-visually-hidden"> within a scale of very low, low, medium and high.</span>
            </strong>
            {% else %}
            <strong class="govuk-tag govuk-tag--grey label-mod" aria-hidden="true">
              Very low
            </strong>
            {% endif %}

            {% if riverAndSeaRiskCC === "low" %}
            <strong class="govuk-tag govuk-tag--Low label-mod label-border">
              Low<span class="govuk-visually-hidden"> within a scale of very low, low, medium and high.</span>
            </strong>
            {% else %}
            <strong class="govuk-tag govuk-tag--grey label-mod" aria-hidden="true">
              Low
            </strong>
            {% endif %}

            {% if riverAndSeaRiskCC === "medium" %}
            <strong class="govuk-tag govuk-tag--Medium label-mod label-border">
              Medium<span class="govuk-visually-hidden"> within a scale of very low, low, medium and high.</span>
            </strong>
            {% else %}
            <strong class="govuk-tag govuk-tag--grey label-mod" aria-hidden="true">
              Medium
            </strong>
            {% endif %}

            {% if riverAndSeaRiskCC === "high" %}
            <strong class="govuk-tag govuk-tag--High label-mod label-border">
              High<span class="govuk-visually-hidden"> within a scale of very low, low, medium and high.</span>
            </strong>
            {% else %}
            <strong class="govuk-tag govuk-tag--grey label-mod" aria-hidden="true">
              High
            </strong>
            {% endif %}
          {% endif %}
        </div>

        <h3 class="govuk-heading-s govuk-!-padding-top-6 govuk-!-margin-bottom-0">What makes rivers and sea flooding
          more likely</h3>
        <p class="govuk-body govuk-!-margin-top-2">Low-lying areas that are close to rivers or the sea are more likely
          to flood when water levels rise.
        </p>
        <p class="govuk-body">This information takes into account any flood defences.
        </p>

        {{ govukDetails({
        summaryText: "Why flood defences cannot completely prevent flooding",
        html: "<p class='govuk-body'>Flood defences can help reduce the chance of flooding but cannot completely prevent
          it because:</p>
        <ul class='govuk-list--bullet'>
          <li>they can fail</li>
          <li>water could spill over the top if it is deep enough</li>
        </ul>"
        }) }}
      </div>
    </dl>
  </div>
</div>