<div class="gauge-display">
  <div class="gauge-display__item-all-gauges">
    <h3 class="govuk-heading-s govuk-!-margin-bottom-4">Present day</h3>
    <dl class="defra-flood-impact-list-v13">
      <div class="defra-flood-impact-list-v13__row defra-flood-impact-list-v13__row--current">
        <dt class="defra-flood-impact-list__key">
          60cm
          <span class="unbold-depth">(2ft)</span>
        </dt>
        <dd class="defra-flood-impact-list-v13__value defra-flood-impact-list-v13__value--latest">
          <div class="defra-flood-impact-list-v13__container govuk-!-padding-left-4" style="height: 40px;">
            <strong class="govuk-tag govuk-tag--{{ rs600classname }} label-mod-depth-14 govuk-!-margin-left-2 label-border">
              {{ rs600 }}<span class="govuk-visually-hidden">which is the highest likelihood</span>
            </strong>
            <span class="depth-chance-info"></span>
          </div>
        </dd>
      </div>
      <div class="defra-flood-impact-list-v13__row defra-flood-impact-list-v13__row--current">
        <dt class="defra-flood-impact-list__key" aria-hidden="true">
          30cm
          <span class="unbold-depth" aria-hidden="true">(1ft)</span>
        </dt>
        <dd class="defra-flood-impact-list-v13__value" style="height: 50px;">
          <div class="defra-flood-impact-list-v13__container govuk-!-padding-left-4">
            <span class="depth-chance-info">
            </span>
          </div>
        </dd>
      </div>
      <div class="defra-flood-impact-list-v13__row defra-flood-impact-list-v13__row--current">
        <dt class="defra-flood-impact-list__key" aria-hidden="true">
          20cm
          <span class="unbold-depth" aria-hidden="true">(8in)</span>
        </dt>
        <dd class="defra-flood-impact-list-v13__value defra-flood-impact-list-v13__value--latest">
          <div class="defra-flood-impact-list-v13__container govuk-!-padding-left-4" style="height: 40px;">
            <span class="depth-chance-info" style="padding-left: 18px;"><strong></strong></span>
          </div>
        </dd>
      </div>
    </dl>
  </div>

  <!-- Gauge 60cm -->

  <!-- // Climate change // -->

  <div class="gauge-display__item-all-gauges">
    <h3 class="govuk-heading-s govuk-!-margin-bottom-4">2036 – 2069</h3>
    <dl class="defra-flood-impact-list-v13">
      {% if not riverAndSeaRiskOverride and not riverAndSeaRiskOverrideCC %}
      <div class="defra-flood-impact-list-v13__row defra-flood-impact-list-v13__row--current">
      {% else %}
      <div class="defra-flood-impact-list-v13__row">
      {% endif %}
        <dt class="defra-flood-impact-list__key">
          60cm
          <span class="unbold-depth">(2ft)</span>
        </dt>
        <dd class="defra-flood-impact-list-v13__value defra-flood-impact-list-v13__value--latest">
          <div class="defra-flood-impact-list-v13__container govuk-!-padding-left-4" style="height: 40px;">
            {% if not riverAndSeaRiskOverride and not riverAndSeaRiskOverrideCC %}
            <strong class="govuk-tag govuk-tag--{{ rs600ccclassname }} label-mod-depth-14 govuk-!-margin-left-2 label-border">
              {{ rs600cc }}<span class="govuk-visually-hidden">which is the highest likelihood</span>
            </strong>
            {% endif %}
            <span class="depth-chance-info"></span>
          </div>
        </dd>
      </div>
      {% if not riverAndSeaRiskOverride and not riverAndSeaRiskOverrideCC %}
      <div class="defra-flood-impact-list-v13__row defra-flood-impact-list-v13__row--current">
      {% else %}
      <div class="defra-flood-impact-list-v13__row">
      {% endif %}
        <dt class="defra-flood-impact-list__key" aria-hidden="true">
          30cm
          <span class="unbold-depth" aria-hidden="true">(1ft)</span>
        </dt>
        <dd class="defra-flood-impact-list-v13__value" style="height: 50px;">
          <div class="defra-flood-impact-list-v13__container govuk-!-padding-left-4">
            <span class="depth-chance-info">
            </span>
          </div>
        </dd>
      </div>
      {% if not riverAndSeaRiskOverride and not riverAndSeaRiskOverrideCC %}
      <div class="defra-flood-impact-list-v13__row defra-flood-impact-list-v13__row--current">
      {% else %}
      <div class="defra-flood-impact-list-v13__row">
      {% endif %}
        <dt class="defra-flood-impact-list__key" aria-hidden="true">
          20cm
          <span class="unbold-depth" aria-hidden="true">(8in)</span>
        </dt>
        <dd class="defra-flood-impact-list-v13__value defra-flood-impact-list-v13__value--latest">
          <div class="defra-flood-impact-list-v13__container govuk-!-padding-left-4" style="height: 40px;">
            {% if riverAndSeaRiskOverride or riverAndSeaRiskOverrideCC %}
            <strong class="govuk-tag govuk-tag--no-data label-mod-depth-no-data label-border govuk-!-margin-left-2">
              No data available<span class="govuk-visually-hidden"> within a scale of very low, low, medium and high.</span>
            </strong>
            {% endif %}
            <span class="depth-chance-info" style="padding-left: 18px;"><strong></strong></span>
          </div>
        </dd>
      </div>
    </dl>
  </div>
</div>