<div class="gauge-display">
  <div class="gauge-display__item-all-gauges">
    <h2 class="govuk-heading-s govuk-!-margin-bottom-4">Present day</h2>
    <dl class="defra-flood-impact-list-v13">
      <div class="defra-flood-impact-list-v13__row">
        <dt class="defra-flood-impact-list__key" aria-hidden="true">
          60cm
          <span class="unbold-depth" aria-hidden="true">(2ft)</span>
        </dt>
        <dd class="defra-flood-impact-list-v13__value defra-flood-impact-list-v13__value--latest">
          <div class="defra-flood-impact-list-v13__container govuk-!-padding-left-4" style="height: 40px;">
            <span class="depth-chance-info"></span>
          </div>
        </dd>
      </div>
      <div class="defra-flood-impact-list-v13__row">
        <dt class="defra-flood-impact-list__key">
          <span aria-label="measurement depth level 30 centimetres" aria-hidden="true">30cm<span>
              <span class="unbold-depth" aria-hidden="true">(1ft)</span>
            </span></span>
        </dt>
        <dd class="defra-flood-impact-list-v13__value" style="height: 50px;">
          <div class="defra-flood-impact-list-v13__container govuk-!-padding-left-4">
            <span class="depth-chance-info">
            </span>
          </div>
        </dd>
      </div>
      <div class="defra-flood-impact-list-v13__row defra-flood-impact-list-v13__row--current">
        <dt class="defra-flood-impact-list__key">
          20cm
          <span class="unbold-depth">(8in)</span>
        </dt>
        <dd class="defra-flood-impact-list-v13__value defra-flood-impact-list-v13__value--latest">
          <div class="defra-flood-impact-list-v13__container govuk-!-padding-left-4" style="height: 40px;">
            <strong
              class="govuk-tag govuk-tag--{{ sw200classname }} label-orange label-mod-depth-14 govuk-!-margin-left-2 label-border">
              {{ sw200 }}<span class="govuk-visually-hidden">which is the highest likelihood</span>
            </strong>
            <span class="depth-chance-info" style="padding-left: 18px;"><strong></strong></span>
          </div>
        </dd>
      </div>
    </dl>
  </div>

  <!-- // Climate change // -->

  <div class="gauge-display__item-all-gauges">
    <h2 class="govuk-heading-s govuk-!-margin-bottom-4">2040 – 2060</h2>
    <dl class="defra-flood-impact-list-v13">
      <div class="defra-flood-impact-list-v13__row">
        <dt class="defra-flood-impact-list__key" aria-hidden="true">
          60cm
          <span class="unbold-depth" aria-hidden="true">(2ft)</span>
        </dt>
        <dd class="defra-flood-impact-list-v13__value defra-flood-impact-list-v13__value--latest">
          <div class="defra-flood-impact-list-v13__container govuk-!-padding-left-4" style="height: 40px;">
            <span class="depth-chance-info"></span>
          </div>
        </dd>
      </div>
      <div class="defra-flood-impact-list-v13__row">
        <dt class="defra-flood-impact-list__key">
          <span aria-label="measurement depth level 30 centimetres" aria-hidden="true">30cm<span>
              <span class="unbold-depth" aria-hidden="true">(1ft)</span>
            </span></span>
        </dt>
        <dd class="defra-flood-impact-list-v13__value" style="height: 50px;">
          <div class="defra-flood-impact-list-v13__container govuk-!-padding-left-4">
            <span class="depth-chance-info">
            </span>
          </div>
        </dd>
      </div>
      <div class="defra-flood-impact-list-v13__row defra-flood-impact-list-v13__row--current">
        <dt class="defra-flood-impact-list__key">
          20cm
          <span class="unbold-depth">(8in)</span>
        </dt>
        <dd class="defra-flood-impact-list-v13__value defra-flood-impact-list-v13__value--latest">
          <div class="defra-flood-impact-list-v13__container govuk-!-padding-left-4" style="height: 40px;">
            <strong class="govuk-tag govuk-tag--{{ sw200ccclassname }} label-mod-depth-14 govuk-!-margin-left-2 label-border">
              {{ sw200cc }}<span class="govuk-visually-hidden">which is the highest likelihood</span>
            </strong>
            <span class="depth-chance-info" style="padding-left: 18px;"><strong></strong></span>
          </div>
        </dd>
      </div>
    </dl>
  </div>
</div>