{% extends 'layout.html' %}

{% set pageTitle = "Unsupported browser" %}
{% set currentpage = "unsupported" %}

{% block skipLink %}
{{ govukSkipLink({
href: '#unsupported-heading',
text: 'Skip to main content'
}) }}
{% endblock %}

{% block beforeContent %}
<div class="top-page-links">
	<a href="{{ backLink }}" class="govuk-back-link" data-id="risk-address">Back</a>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl" id="unsupported-heading">Your device or browser is not supported.</h1>
		<p class="govuk-body">A map is available with a more up-to-date browser or device.</p>
	</div>
</div>
{% endblock %}