.DS_Store
.vscode
node_modules
npm-debug.log
server/public/build
server/simulated_data
tools/address/output
tools/address/data.zip
config/*.json
lcov.info
test/output/*
test/output.html
.env
.env.*
.github/copilot-*.md