.top-page-links {
  display: flex;
  justify-content: space-between;
}

#search-another-address::before {
  content: none;
}

#risk-page {
  .govuk-inset-text {
    h3 {
      font-size: 1.5em;
    }
  }


  #search-another-address {
    color: #E3000E;
  }

  .chance-content {
    padding-left: 10px;
    border-style: solid;
    border-width: 0 0 0 1px;
    border-color: #b1b4b6;
    font-weight: normal;
    margin-left: 10px;
}

  .govuk-inset-text.high {
    border-left-color: #E3000E;
  }
  
  .no-margin {
    margin: 0 0 10px 0 !important;
  }

  .high {
    border-left: 10px solid #E3000E;
  }
  
  .medium {
    border-left: 10px solid #F18604;
  }

  .low {
    border-left: 10px solid #808080;
  }

  @media print {
    font-family: sans-serif;
    font-size: 14pt;
    line-height: 1.15;
  }
}

.govuk-tag--high {
  color: #ffffff;
  background-color: #A92323;
}
.govuk-tag--medium {
  color: #000000;
  background-color: #F56E00;
}
.govuk-tag--low {
  color: #000000;
  background-color: #FFDF26;
}
.govuk-tag--very-low {
  color: #ffffff;
  background-color: #235C26;
}
.govuk-tag--no-data {
  color: #0b0c0c;
  background-color: #b0b3b580;
}

.label-border {
  outline: solid 3px #0b0c0c;
}
.label-mod {
  padding: 8px 12px 8px 12px;
  white-space: nowrap;
}
.label-long {
  max-width: none !important;
  margin-bottom: 15px;
  padding: 8px 12px 8px 12px;
}
.risk-label-group {
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}
.card-title__font-size {
  font-size: 22px;
}

