@use "govuk-frontend/dist/govuk/index" as * with (
  $govuk-assets-path: '/assets/'
);
@use "./depth-gauges";
@use "./risk-page";
@use "./risk-data";
@use "./border-utils";
@use "./cookies";

.nojs-hidden {
  display: none;
}

.js-enabled .nojs-hidden {
  display: block;
}

.noscript-iframe {
  display: block;
  margin-top: 30px;
}

.js-enabled .noscript-iframe {
  display: none;
}

.map-container {
  margin: 10px 0;
  position: relative;
}

.pull-right {
  float: right;
}

#postcode > dd {
  margin-inline-start: 0;
}

@media print {
  header.govuk-header, footer.govuk-footer, .govuk-phase-banner , .govuk-button {
    display: none;
  }
}
