$govuk-assets-path: '/assets/';

@import "govuk-frontend/dist/govuk/index";
@import "./depth-gauges";
@import "./risk-page";
@import "./risk-data";
@import "./border-utils";

.nojs-hidden {
  display: none;
}

.js-enabled .nojs-hidden {
  display: block;
}

.noscript-iframe {
  display: block;
  margin-top: 30px;
}

.js-enabled .noscript-iframe {
  display: none;
}

.map-container {
  margin: 10px 0;
  position: relative;
}

.pull-right {
  float: right;
}

#postcode > dd {
  margin-inline-start: 0;
}

@media print {
  header.govuk-header, footer.govuk-footer, .govuk-phase-banner , .govuk-button {
    display: none;
  }
}

.cookies-link {
  color:govuk-functional-colour("success");
}

.cookies-table {
  max-width: 100%;
  overflow-x: hidden;
  width: 100%;
  table-layout: fixed;
}

.cookies-table .govuk-table__header,
.cookies-table .govuk-table__cell {
  word-break: break-word;
}

.cookies-table .govuk-table__header:nth-child(1),
.cookies-table .govuk-table__cell:nth-child(1) {
  width: 25%;
}

.cookies-table .govuk-table__header:nth-child(2),
.cookies-table .govuk-table__cell:nth-child(2) {
  width: 50%;
}

.cookies-table .govuk-table__header:nth-child(3),
.cookies-table .govuk-table__cell:nth-child(3) {
  width: 25%;
}