$govuk-assets-path: '/assets/';

@import "govuk-frontend/dist/govuk/index";
@import "./depth-gauges";
@import "./risk-page";
@import "./risk-data";
@import "./border-utils";

.nojs-hidden {
  display: none;
}

.js-enabled .nojs-hidden {
  display: block;
}

.noscript-iframe {
  display: block;
  margin-top: 30px;
}

.js-enabled .noscript-iframe {
  display: none;
}

.map-container {
  margin: 10px 0;
  position: relative;
}

.pull-right {
  float: right;
}

.do-not-display {
  display: none;
}

#postcode > dd {
  margin-inline-start: 0;
}

@media print {
  header.govuk-header, footer.govuk-footer, .govuk-phase-banner , .govuk-button {
    display: none;
  }
}

.cookies-link {
  color:govuk-functional-colour("success");
}