{% extends 'layout.html' %}

{% set pageTitle = "Technical map" %}

{% block header %}
{% endblock %}


{% block head %}
{{ super() }}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/assets/images/favicon.ico" type="image/x-icon">
<link href="{{ assetPath }}/stylesheets/map-page.css" rel="stylesheet" />
<link rel="stylesheet" href="{{ assetPath }}/esri/themes/light/main.css">
{% endblock %}

{% block main %}
<div class="map-container">
  {% include 'partials/map-page/map-controls.html' %}
  <div id="map" aria-label="Use your arrows to navigate the map. To zoom in and out cycle back to the zoom buttons.">
  </div>
  <!-- Key -->
  <!-- map-key inline styling required for ability to click off key on devices -->
  <div id="map-key" class="defra-map-key" style="display: block;">
    <div class="defra-map-key__container" id="defra-map-key__container">

      {% include 'partials/map-page/key/surfaceWater.html' %}
      {% include 'partials/map-page/key/riversAndSea.html' %}
      {% include 'partials/map-page/key/reservoirs.html' %}

    </div>
  </div>
</div>
<div id="map-not-supported" style="display: none">
 
  {% include 'partials/unsupported.html' %}

</div>
{% endblock %}

{% block bodyEnd %}
{{ super() }}
<script>
  window.mapCategories = {{ maps | dump | safe }}
  window.mapConfig = JSON.parse({{ mapConfig | dump | safe }})
</script>
<script src="{{ assetPath }}/nunjucks-slim.js"></script>
<script src="{{ assetPath }}/js/capabilities.js"></script>
<script src="{{ assetPath }}/js/map.js"></script>
<script src="{{ assetPath }}/js/mapPage.js"></script>

{% endblock %}

{% block footer %}
{% endblock %}