{% extends 'layout.html' %}

{% from "components/back-link/macro.njk" import govukBackLink %}
{% from "components/input/macro.njk" import govukInput %}
{% from "components/tag/macro.njk" import govukTag %}
{% from "components/button/macro.njk" import govukButton %}
{% from "components/error-summary/macro.njk" import govukErrorSummary %}
{% from "components/error-message/macro.njk" import govukErrorMessage %}

{% set pageTitle = "Where do you want to check?" %}

{% block containerStart %}
{{ govukBackLink({
  text: "Back",
  href: serviceUrl,
  attributes: {
    "data-id": "risk-address"
  }
}) }}
{% endblock %}

{% block content %}
<div id="postcode-page">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errorSummary %}
        {{ govukErrorSummary(errorSummary) }}
      {% endif %}
      {% if friendlyCaptchaEnabled %}
      <div id="FriendlyCaptchaErrorSummary" class="govuk-!-display-none">
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [
          {
            text: "FriendlyCaptcha encountered an error while performing its checks",
            href: "#FriendlyCaptchaError"
          }]
        })}}

      </div>
      {% endif %}
      <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>

      {% if friendlyCaptchaEnabled %}
      <div id="timeout" data-timeout="{{timeout}}">
      </div>
      {% endif %}
      <div class="govuk-inset-text">
        <p>This service will tell you the flood risk of an area, not a specific property.</p>
      </div>

      <form id="postcode-form" method="post">
        {{ govukInput(postcodeInput) }}
        {% if friendlyCaptchaEnabled and not disableCaptcha %}

          <div id="FriendlyCaptcha" class="govuk-!-display-none frc-captcha" data-sitekey={{friendlyCaptchaSiteKey}} data-start="auto"></div>
          <div id="FriendlyCaptchaChecking" class="" role="status" aria-live="polite" aria-atomic="true">
              <h3 class="govuk-heading-s">Checking you are not a robot</h3>
              {{govukTag({
                text: "Checking...",
                classes: "govuk-tag--blue"
              })}}
          </div>
          <div id="FriendlyCaptchaComplete" class="govuk-!-display-none" role="status" aria-live="polite" aria-atomic="true">
              <h3 class="govuk-heading-s">Checking you are not a robot</h3>
              {{govukTag({
                text: "Complete",
                classes: "govuk-tag--green"
              })}}
          </div>
          <div id="FriendlyCaptchaError" class="govuk-!-display-none" role="alert" aria-live="assertive" aria-atomic="true" tabindex="-1">
            <div class="govuk-form-group govuk-form-group--error">
              <h3 class="govuk-heading-s">Checking you are not a robot</h3>
              {{ govukErrorMessage({
                text: "FriendlyCaptcha encountered an error while performing its checks"
              }) }}
                {{ govukButton({
                  text: "Retry",
                  type: "button",
                  id: "FriendlyCaptchaResetButton",
                  href: "/postcode#"
                }) }}
            </div>
          </div>
          <div class="govuk-!-display-none" id="nc-browser">
            <p class="govuk-body">The Friendly Captcha check works better and faster in modern browsers such as Edge, Firefox, or Chrome. Please consider updating your browser</p>
          </div>
            <p class="govuk-body govuk-hint govuk-!-margin-top-7">
              Friendly Captcha checks that you aren't a robot.<br>Find out how we use it in our <a href="/privacy-notice" 
              class="govuk-link">privacy notice</a>
            </p>
            <p class="govuk-body govuk-hint govuk-!-margin-bottom-5">
              This can take a few seconds. Do not refresh the page.
            </p>
            {{ govukButton({
              text: "Continue",
              type: "submit",
              id: "post-code-button",
              disabled: true
            }) }}
        {% else %}
          {{ govukButton({
            text: "Continue",
            type: "submit",
            id: "post-code-button"
          }) }}
        {% endif %}
      </form>

      <p class="govuk-body">or <a href="/information-for-planning" class="govuk-link"
          data-journey-click="ltfri:postcode:map">
          view a map showing areas at risk of flooding</a>.
      </p>
      <p class="govuk-body">
        <a href="http://www.royalmail.com/find-a-postcode" rel="noopener" class="govuk-link" target="_blank"
          data-journey-click="ltfri:postcode:royal-mail">
          Use the Royal Mail postcode finder (opens in a new tab)
        </a>
      </p>
    </div>
  </div>
</div>
{% if friendlyCaptchaEnabled %}
<noscript>
  <style type="text/css">
    #postcode-page {display:none;}
</style>
<div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">You need Javascript to use this service</h1>
      <p class="govuk-body">
        Please turn on javascript in your browser to use this service
      </p>
      <p class="govuk-body">
        You can try again by <a href="/postcode">starting a new search</a>
      </p>
      <p class="govuk-body">
        You can call Floodline for advice about flooding to check your long term risk:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Telephone: 0345 988 1188</li>
        <li>Textphone: 0345 603 6340</li>
      </ul>
      <p class="govuk-body">
        24 hour service.
      </p>
      <p class="govuk-body">
        <a href="https://www.gov.uk/call-charges">Find out about call charges</a>
      </p>
    </div>
  </div>
</div>
 </noscript>
  <script type="module" src="{{ assetPath }}/js/site.min.js" async defer>
  </script>
  <script nomodule src="{{ assetPath }}/js/site.compat.min.js" async defer>
  </script>
  <script src="{{ assetPath }}/js/friendly-captcha-handler.js"></script>
  <script src="{{ assetPath }}/js/captcha-refresh.js"></script>
{% endif %}
{% endblock %}
