{% extends 'layout.html' %}
{% from "components/details/macro.njk" import govukDetails %}

{% set pageTitle = "Flood risk summary" %}

{% block beforeContent %}
<div class="top-page-links">
  <a href="{{ backLink }}" class="govuk-back-link" data-id="risk-address">Back to select an address</a>
</div>
{% endblock %}

{% block content %}
<div id="risk-page" data-test-info="{{ testInfo }}">
  <!-- Page summary -->
  <div class="page-summary ">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-padding-top-0">
          Flood risk summary
        </h1>
        <p class="govuk-body"><strong>Your selected location:</strong> {{ fullAddress }}</p>
        <p class="govuk-body">This information tells you the flood risk of the land around a building, not the building itself.</p>
        {{ govukDetails({
          summaryText: "How we assess an area's flood risk",
          html: "<p class='govuk-body'>We use computer models to estimate flood risk,
            based on the best data we have available.</p>
          <p class='govuk-body'>The models do not include every local feature like kerbs,
            fences and walls. That means we cannot tell you the flood risk of every individual property.</p>
          <p class='govuk-body'>Neighbouring houses in a street may have different levels of flood risk.
            This could be because one is on higher land or is nearer water, for example.</p>
          <p class='govuk-body'>An area can be at risk even if it has not flooded before.
            If an area has flooded before, any future flooding might not cover the same area.</p>
          <p class='govuk-body'>Flooding is hard to predict, especially further into the future.
          Flood risks could be bigger or smaller than what we show, and could change over time.</p>"
        }) }}
        
        {% include highestRisk %}

        {{ govukDetails({
          summaryText: "Flood risk and climate change",
          html: "<p class='govuk-body'>Climate change is increasing the chances of flooding.</p>
          <p class='govuk-body'>Climate models project we will see warmer and wetter winters, and more frequent and
            intense extreme weather events.</p>
          <p class='govuk-body'>The models use projected rainfall, sea levels and river flows. They estimate
            flood risk in different ways, with different time periods.</p>
          <p class='govuk-body'>Our flood risk data covers the following time periods:</p>
          <ul class='govuk-list govuk-list--bullet'>
            <li>2040 to 2060 for surface water</li>
            <li>2036 to 2069 for rivers and the sea</li>
          </ul>
          <p class='govuk-body'> But the models cannot predict exactly when the chance of flooding will go up. 
            It could happen at any time during these time periods.</p>"
        }) }}
        <!-- Holding Comments -->
        {% if hasHoldingComments %}
        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            {% for comment in holdingComments %}
            <div class="{{ 'govuk-!-margin-bottom-4' if not loop.last }}">{{ comment }}</div>
            {% endfor %}
          </strong>
        </div>
        {% endif %}
      </div>

      <!-- Start of cards -->
      <div class="govuk-grid-column-two-thirds summary-grid-width">

        {% include firstSource %}
        {% include secondSource %}

        <!-- Groundwater & Reservoir -->

        {% include additionalInformation %}

      </div>
      <!-- end of two-thirds -->
    </div>

  </div>
</div>
{% endblock %}