{% extends 'layout.html' %}
{% from "components/details/macro.njk" import govukDetails %}

{% set pageTitle = "Your long term flood risk assessment" %}

{% block beforeContent %}
<div class="top-page-links">
  <a href="{{ backLink }}" class="govuk-back-link" data-id="risk-address">Back to select an address</a>
</div>
{% endblock %}

{% block head %}
{{ super() }}
<link href="{{ assetPath }}/stylesheets/risk-page.css" rel="stylesheet" />
<link href="{{ assetPath }}/stylesheets/rivers-and-sea.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<div id="risk-page" data-test-info="{{ testInfo }}">
  <!-- Page summary -->
  <div class="page-summary ">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-padding-top-0">
          Flood risk summary
        </h1>
        <p class="govuk-body"><strong>Your selected location:</strong> {{ fullAddress }}</p>
        <p class="govuk-body">This information tells you the flood risk of the land around a building, not the building itself.</p>
        {{ govukDetails({
          summaryText: "How we assess an area's flood risk",
          html: "<p class='govuk-body'>Our data does not include every feature like kerbs, or fences and walls around a building. 
            That means we cannot tell you the flood risk of every individual property.</p>
          <p class='govuk-body'>Neighbouring houses may have different levels of flood risk. 
            This could be because one is on higher land or is nearer water, for example.</p>
          <p class='govuk-body'>An area can be at risk even if it has not flooded before. 
            If an area has flooded before, any future flooding might not cover the same area.</p>
          <p class='govuk-body'>Flooding is hard to predict, especially further into the future. 
            Flood risks could be bigger or smaller than what we show, and could change over time.</p>"
        }) }}
        
        {% include highestRisk %}

        {{ govukDetails({
          summaryText: "Flood risk and climate change",
          html: "<p class='govuk-body'>Climate change is increasing the chances of flooding.</p>
          <p class='govuk-body'>Climate models project we will see warmer and wetter winters, and more frequent and
            extreme weather events.</p>
          <p class='govuk-body'>The models use projected rainfall, sea levels and river flows. They estimate
            flood risk in different ways, with different time periods.</p>
          <p class='govuk-body'>Our flood risk data covers the following time periods:</p>
          <ul class='govuk-list govuk-list--bullet'>
            <li>2040 to 2060 for surface water</li>
            <li>2036 to 2069 for rivers and the sea</li>
          </ul>
          <p class='govuk-body'> But the models cannot predict exactly when the chance of flooding will go up. 
            It could happen at any time during these time periods.</p>"
        }) }}
        <!-- Holding Comments -->
        {% if hasHoldingComments %}
        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            {% for comment in holdingComments %}
            <div class="{{ 'govuk-!-margin-bottom-4' if not loop.last }}">{{ comment }}</div>
            {% endfor %}
          </strong>
        </div>
        {% endif %}
      </div>

      <!-- Start of cards -->
      <div class="govuk-grid-column-two-thirds summary-grid-width">

        {% include firstSource %}
        {% include secondSource %}

        <!-- Groundwater & Reservoir -->

        {% include additionalInformation %}

      </div>
      <!-- end of two-thirds -->
    </div>

  </div>
</div>
  <!-- Print summary -->
  <div class="print-summary">
    <table class="govuk-table">
      <caption class="govuk-table__caption">{{ address.address }}</caption>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Rivers and sea risk</th>
          <td class="govuk-table__cell"><b>{{ riversAndSeaTitle }}</b><br>
            {% if riversAndSeaTextName %}
            {% include riversAndSeaTextName %}
            {% endif %}</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Surface water risk</th>
          <td class="govuk-table__cell">
            <p>
              <b>{{ surfaceWaterTitle }}</b><br>
              {% if surfaceWaterTextName %}
              {% include surfaceWaterTextName %}
              {% endif %}
            </p>
            <p class="govuk-body">
              Lead local flood authorities (LLFA) manage the risk from surface water flooding and may hold more
              detailed information.
              {% if leadLocalFloodAuthority %}Your LLFA is <b>{{leadLocalFloodAuthority}}</b>.{% endif %}
            </p>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Reservoir risk</th>
          <td class="govuk-table__cell">
            {% if reservoirRisk %}
            There is a risk of flooding from reservoirs in this area, reservoirs that can affect this area are:
            <ul class="govuk-list govuk-list--bullet">
              {% for reservoir in reservoirs %}
              <li>{{reservoir.name}}</li>
              {% endfor %}
            </ul>
            {% else %}
            Flooding from reservoirs is unlikely in this area
            {% endif %}
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Groundwater risk</th>
          <td class="govuk-table__cell">
            {{ "Flooding is possible in the local area when groundwater levels are high" if isGroundwaterArea else
            "Flooding from groundwater is unlikely in this area" }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  {% endblock %}