{% extends 'layout.html' %}

{% set pageTitle = "Rivers and the sea: understand your flood risk" %}
{% set currentpage = "rivers-and-sea" %}

{% block head %}
{{ super() }}
<link href="{{ assetPath }}/stylesheets/risk-data.css" rel="stylesheet" />
<link href="{{ assetPath }}/stylesheets/rivers-and-sea.css" rel="stylesheet" />
<link href="{{ assetPath }}/stylesheets/depth-gauges.css" rel="stylesheet" />
{% endblock %}

{% block beforeContent %}
<div class="top-page-links">
  <a href="{{ backLink }}" class="govuk-back-link" data-id="risk-address">Back</a>
</div>
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-9">
      <h1 class="govuk-heading-xl">Rivers and the sea: possible flood depths</h1>
      <p class="govuk-body govuk-!-margin-bottom-2"><strong>Your selected location:</strong> {{ fullAddress }}</p>
      <p class="govuk-body govuk-!-margin-bottom-6">This information tells you the flood risk of the land around a
        building, not the building itself.</p>
      <p class="govuk-body">Flooding is hard to predict and there is always a chance any flood water could be deeper
        than what we show.</p>

      {% include 'partials/floodRatings.html' %}

      <h2 class="govuk-heading-l govuk-!-margin-top-8 govuk-!-padding-bottom-2">Chance of flooding to 20cm</h2>

      {% include 'partials/rs-depth-gauge-20.html' %}

      <p class="govuk-body govuk-!-padding-top-4">At this location there's a <strong>{{ rs200 }}</strong> chance of flooding
        to <strong>20cm</strong> (or 8 inches).</p>
      <p class="govuk-body">Between 2036 and 2069 this {{ "increases to" if rs200Change === 1 }}{{ "stays at" if rs200Change === 0 }}{{ "changes to" if rs200Change === -1 }}
         a <strong>{{ rs200cc }}</strong> chance of flooding to <strong>20cm</strong> (or 8 inches). </p>
      <p class="govuk-body">At 20cm, flood water can get into some homes and buildings, especially if the property has a
        basement. At this level, water can also damage your car or cause a breakdown.</p>
      <h2 class="govuk-heading-l govuk-!-margin-top-8 govuk-!-padding-bottom-2">Chance of flooding to 30cm</h2>

      {% include 'partials/rs-depth-gauge-30.html' %}

      <p class="govuk-body govuk-!-padding-top-4">At this location there's a <strong>{{ rs300 }}</strong> chance of flooding
        to <strong>30cm</strong> (or 1ft)</p>
        <p class="govuk-body">Between 2036 and 2069 this {{ "increases to" if rs300Change === 1 }}{{ "stays at" if rs300Change === 0 }}{{ "changes to" if rs300Change === -1 }}
          a <strong>{{ rs300cc }}</strong> chance of flooding to <strong>30cm</strong> (or 1ft)</p>
      <p class="govuk-body govuk-!-margin-bottom-6">At 30cm, flood water can get into homes
        and buildings. Water at this level can also move a car, damage roads and cause major traffic disruption.</p>
      <h2 class="govuk-heading-l govuk-!-margin-top-8 govuk-!-padding-bottom-2">Chance of flooding to 60cm</h2>

      {% include 'partials/rs-depth-gauge-60.html' %}

      <p class="govuk-body govuk-!-padding-top-4">At this location there's a <strong>{{ rs600 }}</strong> chance of flooding
         to <strong>60cm</strong> (or 2ft)</p>
         <p class="govuk-body">Between 2036 and 2069 this {{ "increases to" if rs600Change === 1 }}{{ "stays at" if rs600Change === 0 }}{{ "changes to" if rs600Change === -1 }}
          a <strong>{{ rs600cc }}</strong> chance of flooding to <strong>60cm</strong> (or 2ft)</p>
      <p class="govuk-body">At 60cm, we expect flood water to get into homes and buildings.
        Water at this level can float most vehicles, including 4x4s.</p>
      <p class="govuk-body">Flood protection measures are usually effective up to 60cm. You should not try and keep flood 
        water out of buildings if it's over 90cm. Water at this level can cause collapse or permanent structural damage.</p>
      <p class="govuk-body">Return to <a class="govuk-link" href="/rivers-and-sea" previewlistener="true">rivers and sea</a>
        to read advice on how to manage your risk from flooding.</p>
    </div>
  </div>
</div>
{% endblock %}