{% extends 'layout.html' %} 

{% from "components/select/macro.njk" import govukSelect %} 
{% from "components/error-summary/macro.njk" import govukErrorSummary %} 
{% set pageTitle = "Select an address" %}  

{% block containerStart %}
<a href="{{ backLink }}" class="govuk-back-link" data-id="risk-address">Back</a>
{% endblock %} {% block content %}

<div id="address-page">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errorSummary %} {{ govukErrorSummary(errorSummary) }} {% endif %}

      <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>

      <div class="govuk-inset-text">
        <p>
          This service will tell you the flood risk of an area, not a specific property.
        </p>
        <p>
          We need to ask for the property number so we know where you want to check.
        </p>
      </div>

      {# placeholder until we get UCD input #}
      {% if otherRegion %}
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-visually-hidden">Warning</span>
          This postcode contains addressses that are not in England. These addresses have been removed from the list as this service is England only. 
          <br /><br />
          For flood information in {{ otherRegion | title }}, please
          <a class="govuk-link" href="/england-only?postcode={{ postcode | urlencode }}&region={{ otherRegion | urlencode }}#">click here</a>.
        </strong>
      </div>
      {% endif %}

      <form method="post">
        <dl class="govuk-form-group" id="postcode">
          <dt class="govuk-label">Postcode</dt>
          <dd class="govuk-body">
            <strong style="text-transform: uppercase">{{ postcode }}</strong>
            <a href="/postcode" class="govuk-link">Change Postcode</a>
          </dd>
        </dl>

        {{ govukSelect(addressSelect) }} {% if banner %}
        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            {{ banner.message }} {% if banner.url %} &nbsp;<a
              class="govuk-link"
              rel="noopener"
              href="{{ banner.url }}"
              target="_blank"
              data-journey-click="ltfri:search:live-flood-warnings"
              >View details</a
            >
            {% endif %}
          </strong>
        </div>
        {% endif %}

        <button type="submit" class="govuk-button">Continue</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
