{% extends 'layout.html' %}

{% set pageTitle = "Surface water: understand your flood risk" %}
{% set currentpage = "surface-water" %}

{% block skipLink %}
  {{ govukSkipLink({
    href: '#surface-water-heading',
    text: 'Skip to main content'
  }) }}
{% endblock %}


{% block beforeContent %}
<div class="top-page-links">
  <a href="{{ backLink }}" class="govuk-back-link" data-id="risk-address">Back to summary</a>
</div>
{% endblock %}

{% block content %}

<nav aria-label="Pages with more detail on this service" class="gem-c-contents-list govuk-!-margin-bottom-3"
role="navigation">
<ol class="gem-c-contents-list__list">
  {% if surfaceWaterIsFirst %}
  {% include 'partials/nav-sw.njk' %}
  {% endif %}
  {% include 'partials/nav-rs.njk' %}
  {% if not surfaceWaterIsFirst %}
  {% include 'partials/nav-sw.njk' %}
  {% endif %}
  {% include 'partials/nav-gw.njk' %}
</ol>
</nav>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <h1 id="surface-water-heading" class="govuk-heading-xl govuk-!-margin-top-6">
        Surface water: understand your flood risk
      </h1>
      <p class="govuk-body"><strong>Your selected location:</strong> {{ fullAddress }}</p>
      <p class="govuk-body">This information tells you the flood risk of the land around a building, not the building itself.</p>
    </div>
  </div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l govuk-!-padding-top-6 govuk-!-margin-bottom-4">How likely a surface water flood is</h2>
    <p class="govuk-body govuk-!-padding-top-4">The yearly chance of surface water flooding is:</p>
    <p class="govuk-body">
      <strong class="govuk-tag govuk-tag--{{ surfaceWaterStyle }} label-mod-depth">
        <span>{{ surfaceWaterRisk }}</span>
      </strong>
      {% if surfaceWaterRisk === surfaceWaterRiskCC %}
        staying at
      {% else %}
        increasing to
      {% endif %}
      <strong class="govuk-tag govuk-tag--{{ surfaceWaterCCStyle }} label-mod-depth">
        <span>{{ surfaceWaterRiskCC }}</span>
      </strong>
      between 2040 to 2060
    </p>
    </p>

    {% include 'partials/floodRatings.html' %}

    <p class="govuk-body"><a class="govuk-link" href="/map?easting={{easting}}&northing={{northing}}&map=SurfaceWater"
        previewlistener="true">View a surface water map</a> to see where any flood water might spread to.</p>

    <h2 class="govuk-heading-l govuk-!-padding-top-6">How deep any flood water could be</h2>
    <p class="govuk-body">Even a small amount of water can cause serious damage so it's a good idea to know how deep any flooding could be.</p>
    <p class="govuk-body">You cannot completely protect your property from flooding, but there's a lot you can do to reduce:</p>
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
      <li>the amount of flood water that gets in</li>
      <li>the damage from flood water</li>
      <li>the cost and time of cleaning up after a flood</li>
    </ul>
    <p class="govuk-body">
      <a class="govuk-link" href="/surface-water-depth">See how deep any flood water could be at your selected location</a>.
    </p>

    <h2 class="govuk-heading-l govuk-!-padding-top-6">What to do next</h2>
      <p class="govuk-body">Read about how to <a class="govuk-link" href="https://www.gov.uk/prepare-for-flooding">prepare yourself and your property for flooding</a>.</p>
      <p class="govuk-body">You should check your flood risk regularly because the information may change.</p>

    <h3 class="govuk-heading-m govuk-!-padding-top-4">If you need more details on surface water flood risk</h3>
      <p class="govuk-body">Lead local flood authorities are responsible for managing flood risk from surface water. They may hold more detailed information.</p>
      <p class="govuk-body govuk-!-padding-bottom-6 govuk-!-margin-bottom-6">Your lead local flood authority is <strong>{{leadLocalFloodAuthority}}</strong>.
        {% if hasLlfaComments %}
        They have the following information about surface water flooding:
        <br>
        <ul class="govuk-list govuk-list--bullet surface-water" id="llfa-comments-list">
          {% for comment in llfaComments %}
          <li id="llfa-comments">{{ comment }}</li>
          {% endfor %}
        </ul>
        {% endif %}
</p>
      
    <hr
      class="govuk-section-break govuk-section-break--m govuk-section-break--visible  govuk-!-margin-top-6 govuk-!-margin-bottom-3">

    <nav class="govuk-pagination govuk-pagination--block" role="navigation" aria-label="Flood risk pagination">
      {% if surfaceWaterIsFirst %}
      <div class="govuk-pagination__next">
        <a class="govuk-link govuk-pagination__link" href="/rivers-and-sea" rel="next"
          previewlistener="true"> <svg class="govuk-pagination__icon govuk-pagination__icon--next"
            xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false"
            viewBox="0 0 15 13">
            <path
              d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z">
            </path>
          </svg> <span class="govuk-pagination__link-title">Next</span><span class="govuk-visually-hidden">:</span>
          <span class="govuk-pagination__link-label">Rivers and the sea </span></a>
      </div>
      {% else %}
      <nav class="govuk-pagination govuk-pagination--block" role="navigation" aria-label="Flood risk pagination">
        <div class="govuk-pagination__prev">
          <a class="govuk-link govuk-pagination__link" href="/rivers-and-sea" rel="prev" previewlistener="true">
            <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg"
              height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
              <path
                d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z">
              </path>
            </svg>
            <span class="govuk-pagination__link-title">Previous</span><span class="govuk-visually-hidden">:</span>
            <span class="govuk-pagination__link-label">Rivers and sea</span></a>
        </div>
        <div class="govuk-pagination__next">
          <a class="govuk-link govuk-pagination__link" href="/ground-water" rel="next"
            previewlistener="true"> <svg class="govuk-pagination__icon govuk-pagination__icon--next"
              xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false"
              viewBox="0 0 15 13">
              <path
                d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z">
              </path>
            </svg> <span class="govuk-pagination__link-title">Next</span><span class="govuk-visually-hidden">:</span>
            <span class="govuk-pagination__link-label">Groundwater and reservoirs</span></a>
        </div>
  {% endif %}
    </nav>
  </div>

{% endblock %}