<!-- Toggle checkbox -->
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <h2 class="defra-map-key__section-title" id="map-display-toggles-title">Map details</h2>
    </legend>
    <div class="govuk-radios govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input govuk-radios__inputs display-layers-checkbox-toggle" id="display-layers-checkbox" tabindex="2" name="map-toggle" type="checkbox"
          value="30" checked="">
        <label class="govuk-label govuk-checkboxes__label" for="display-layers-checkbox">
          Show flooding
        </label>
      </div>
      <div class="govuk-checkboxes__item" id="selected-address">
        <input class="govuk-checkboxes__input govuk-radios__inputs" id="selected-address-checkbox" tabindex="3" name="map-toggle" type="checkbox" value=""
          checked="">
        <label class="govuk-label govuk-checkboxes__label selected-address-toggle" for="selected-address-checkbox">
          <span class="defra-map-key__symbol-container">
            <span class="defra-map-key__symbol">
              <img id="pointer-icon" src="{{ assetPath }}/images/pointer-icon.png" alt="Pointer Icon" aria-hidden="true">
            </span>
            Selected address
          </span>
        </label>
      </div>
    </div>
  </fieldset>
</div>